{% extends "authentication/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Home</h1>
    <div class="row">
        {% for c in classrooms %}
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ c.classroom.title }}</h5>
                <p class="card-text">{{ c.classroom.description }}</p>
                <a href="/classroom/{{ c.classroom.join_code }}/" class="btn btn-primary">Go to classroom</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}